
body {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
}

body::after {
    content: "";
    background: url(/assets/radiopi_logo.png) no-repeat center center fixed;
    background-size: contain;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.navbar-brand img {
    position: absolute;
    height: 45px;
    top: -10px;
    left: -15px;
    z-index: 1;
}

.navbar-brand span {
    font-size: 1.75em;
    position: absolute;
    z-index: 5;
    top: -5px;
    font-weight: bolder;
    left: 25px;
}

button:hover, .btn:hover, .list-group-item-action:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

small .btn {
    padding: 1px 3px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 36px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
